<p id="notice"><%= notice %></p>

<h1>Finalizadas</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Tarefas</th>
      <th>Finalizada?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @finishedies.each do |list| %>
      <tr>
        <td><%= list.name %></td>
        <td><%= list.tasks.size %></td>
        <td><%= list.finished %></td>
        <td><%= link_to 'Ver', list %></td>
        <td><%= link_to 'Editar', edit_list_path(list) %></td>
        <td><%= link_to 'Excluir', list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Home', lists_path %>

