<p id="notice"><%= notice %></p>

<div style="margin:50px">
  <% unless @finishedies.blank? %>
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Finalizada</th>
          <th scope="col">Tarefas</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @finishedies.each do |list| %>
          <tr>
            <td><%= link_to "#{list.id}", list %></td>
            <td><%= link_to "#{list.name}", list %></td>
            <td><%= list.finished %></td>
            <td><%= list.tasks.size %></td>
            <td>
              <a class="btn btn-primary" href=<%="lists/#{list.id}/edit"%> role="button">Editar</a>
            </td>
            <td>
              <a class="btn btn-danger" role="button" data-confirm="Are you sure?" rel="nofollow" data-method="delete" href=<%="/lists/#{list.id}"%>>
                Excluir
              </a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div style="text-align:center"> Não há listas finalizadas</div>
  <% end %>

</div>

