<div style="margin-left:50px;margin-right:50px;margin-bottom:100px">

  <div class="card" style="text-align:center;padding:35px;margin-left:300px;margin-right:300px;margin-top:50px">
    <h1><%= @list.name %></h1>

    <p>
      <strong>Tarefas: </strong>
      <%= @list.tasks.size %>
    </p>

    <p>
      <strong>Tarefas pendentes: </strong>
      <%= @list.tasks.where(done: false).size %>
    </p>

    <p>
      <strong>Tarefas concluidas: </strong>
      <%=  @list.tasks.where(done: true).size %>
    </p>

    <p>
      <strong>Status: </strong>
      <%= image_tag  color_status(@list.finished), with: 25, height: 25 %>
    </p>

    <div style="text-align:center">
      <a class="btn btn-primary" style="width:200px" href=<%="#{@list.id}/edit"%> role="button">
        Editar
      </a>
      <p></p>
      <a href=<%="#{@list.id}/tasks/new"%> class="btn btn-outline-success" style="width:200px" tabindex="-1" role="button">
        Nova Tarefa
      </a>
      <% unless @list.finished%>
        <p></p>
        <a href=<%="/lists/#{@list.id}/finished"%>  data-confirm="Tem certeza?" data-method="patch" 
          class="btn btn-outline-danger" style="width:200px" tabindex="-1" role="button">
          Finalizar Lista
        </a>
      <% else %>
        <p></p>
        <a href=<%="/lists/#{@list.id}/enable"%>  data-confirm="Tem certeza?" data-method="patch" 
          class="btn btn-outline-warning" style="width:200px" tabindex="-1" role="button">
          Reativar lista
        </a>
      <% end %>
    </div>
  </div>
  
  <br><br>
  
  
  <% unless @tasks.blank? %>
    <h1>Tarefas</h1>
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">STATUS</th>
          <th scope="col">DESCRIÇÃO</th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>

        </tr>
      </thead>

      <tbody>
        <% @tasks.each do |task| %>
          <tr>
            <td><%= image_tag  color_status(task.done), with: 25, height: 25 %></td>
            <td><%= link_to task.desscription, [@list, task] %></td>
            <td>
              <a class=<%= "btn btn-outline-#{button_option_task(task.done)}" %> data-method="patch" href=<%="#{@list.id}/tasks/#{task.id}/#{action_task(task.done)}"%> role="button">
                <%= frase_option_task(task.done)%>
              </a>
            </td>
            <td>
              <a class="btn btn-primary" href=<%="#{@list.id}/tasks/#{task.id}/edit"%> role="button">
                Editar
              </a>
            </td>
            <td>
              <a class="btn btn-danger" role="button" data-confirm="Are you sure?" rel="nofollow" data-method="delete" href=<%="#{@list.id}/tasks/#{task.id}"%>>
                  Excluir
              </a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div style="text-align:center"> Não há tarefas criadas</div>
  <% end %>

  <br><br>
   
</div>


<%# /lists/2/tasks/2/edit %>
