<div class="card" style="text-align:center;padding:35px;margin:100px">

  <h2>Editar minhas informaçẽos</h2><br>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :Nome %><br />
      <%= f.text_field :name, autofocus: true %>
    </div><br>

    <div class="field">
      <%= f.label :Email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %><br>

    <div class="field">
      <%= f.label :Senha %> <i>(Deixar em branco se não quiser alterar)</i><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> caraceteres mínimos</em>
      <% end %>
    </div><br>

    <div class="field">
      <%= f.label :Confirmação_de_senha %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div><br>

    <div class="field">
      <%= f.label :Senha_atual %> <i>(Digite sua senha atual para confirmação)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div><br>

    <div class="actions">
      <%= f.submit "Atualizar" %>
    </div><br>
  <% end %>

  <h3>Cancelar meu cadastro</h3>

  <p>Infeliz? <%= button_to "Cancelar meu cadastro", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

  <%= link_to "Voltar", :back %>

</div>
