<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<table>
  <thead>
    <tr>
      <th>List</th>
      <th>Done</th>
      <th>Desscription</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.list %></td>
        <td><%= task.done %></td>
        <td><%= task.desscription %></td>
        <td><%= link_to 'Show', [@list, task] %></td>
        <td><%= link_to 'Edit', edit_list_task_path(@list, task) %></td>
        <td><%= link_to 'Destroy', [@list, task] , method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_list_task_path(@list) %> |
<%= link_to "Back", list_path(@list) %>
