<p id="notice"><%= notice %></p>

<h1><%= @task.desscription %></h1>

<p>
  <strong>Nome da Lista:</strong>
  <%= @task.list.name %>
</p>


<p>
  <strong>Concluida?:</strong>
  <%= @task.done %>
</p>


<%= link_to 'Edit', edit_list_task_path(@list, @task) %> |
<%= link_to 'Back', list_path(@list) %>
