<div style="margin-left:50px;margin-right:50px;margin-bottom:100px">

  <p id="notice"><%= notice %></p>

  <h1><%= @task.desscription %></h1>

  <p>
    <strong>Nome da Lista:</strong>
    <%= @task.list.name %>
  </p>


  <p>
    <strong>Concluida?:</strong>
    <%= @task.done %>
  </p>


  <a class="btn btn-primary" href=<%="#{@task.id}/edit"%> role="button">
    Editar
  </a>


  <a href=<%="/lists/#{@list.id}"%> class="btn btn-outline-info" tabindex="-1" role="button">
    Voltar
  </a>
</div>
