<div class="card" style="text-align:center;padding:35px;margin-left:300px;margin-right:300px;margin-top:100px">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    
      <h2>TODO-Login</h2>

      <div class="field">
        <%= f.label :Email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div><br>

      <div class="field">
        <%= f.label :Senha %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div><br>

      <div class="actions">
        <%= f.submit "Entrar" %>
      </div><br>

      <%= render "devise/shared/links" %>
    
  <% end %>
</div>

